<h4><%=@results["title"]%></h4>
<!-- <h4>hey</h4> -->
<form method="POST" action="/todos/<%=@results["id"]%>">

	<input type="text" name="custom_method" style="display: none" value="PUT">
	<label for="title">Title:</label>
	<input type="text" name="title">
	<input type="submit" value="submit">
</form>