.button {
	background-color: $olive;
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	color: $white;
	font-weight: bold;
	padding: 5px 8px;
	text-decoration: none;
	text-shadow: 0px 1px 0px $carbon;
	border: none;
	outline: none;

  &:hover {
    background-color: $sand;
		color: $white;
		animation: skyblue-to-pink 1s ease infinite;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

@include animation-mixin(skyblue-to-pink, $sand,$olive);


.group-buttons {
	display: flex;

	&__but {
		margin: 5px;
		img {
			width: 30px;
		}
		text-decoration: none;
	}
}


.back {
  margin: 5px;
  img {
    width: 35px;
  }
  text-decoration: none;
}