.container {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: Georgia, serif;
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 5px;
}

.main {
  font-family: Georgia, serif;
  font-size: 22px;
  padding-bottom: 5px;
}
