.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: $gray;

  &__menu {
    display: flex;
  }
   
  &__link {
    margin: 0 10px;
    text-decoration: none;
    padding: 3px 4px;
    background: $sand;
    border-radius: 10%;
  

    &--main {
      box-shadow: 5px 2px 2px $carbon;
    }
  }
}

.content {
  padding: 30px, 20px;
}


