.header {
  background-color: $gray;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &__menu {
    display: flex;
  }

  &__link {
    background: $sand;
    border-radius: 10%;
    margin: 0 10px;
    padding: 3px 4px;
    text-decoration: none;

    &--main {
      box-shadow: 5px 2px 2px $carbon;
    }
  }
}

.content {
  padding: 30px, 20px;
}
