$white:  #fff;
$black: #000;
$gray: #b7caca;
$gray--light: darken($white, 10%);
$sand: #f5d8ad;
$carbon: #59585e;
$cognac: #be865c;
$olive: #b1a671;
$black--light: #333;

$green: #008000;
$red: #f00;
